@page
@model SeeSharpLMS.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}



@* this allows me to change the page layout *@
@{
    Layout = "_CalendarLayout";
}



<h1>Calendar</h1>


<div id="calendar"></div>
