@page
@using SeeSharpLMS.Utility
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="align-middle">
    <h1 class="text-center">Welcome to SeeSharp LMS</h1>
    <h3 class="text-center align-middle">Helping You to Soar</h3>
</div>

