@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-page="/Profile" title="Manage"><i class="fas fa-user-alt"></i>&nbsp; @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline text-light " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link" style="color:#c94f4f;"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> &nbsp; Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color: lightgreen"><i class="fas fa-sign-in-alt" style="color: lightgreen"></i>&nbsp; Login</a>
        </li>
    }
</ul>

