@page
@model SeeSharpLMS.SubmittedPageModel
@{
    ViewData["Title"] = "SubmittedPage";
}

<h1>Submitted Successfully!</h1>

<h4>Your assignment have been uploaded to Instructor!</h4>

<a asp-page="./Index">Back to List</a>

